* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
  }

  .top-bar,
  .main-content,
  .footer {
    padding: 10px;
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-info {
    display: flex; /* Alinea los elementos horizontalmente */
    gap: 15px; /* Espacio entre los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 10px; /* Espacio interior alrededor de los enlaces */
    background-color: #fed009; /* Fondo amarillo dorado */
    border-top-left-radius: 20px; /* Bordes redondeados para el contenedor */
    border-top-right-radius: 20px; /* Bordes redondeados para el contenedor */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera para dar profundidad */
  }

  .user-link {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #333; /* Color de texto oscuro para contraste */
    font-weight: bold; /* Hace que el texto sea más grueso */
    padding: 8px 16px; /* Relleno dentro de los enlaces */
    border-radius: 10px; /* Bordes redondeados para los enlaces */
    transition: all 0.3s ease; /* Transición suave para los efectos hover */
  }

  .user-link:hover {
    color: #fed009; /* Cambia el color del texto al pasar el ratón por encima */
    background-color: #333; /* Fondo oscuro para el enlace al pasar el ratón por encima */
  }

  .search-bar {
    display: flex; /* Alinea el input y el botón */
    border: 2px solid #fed009; /* Borde amarillo dorado */
    border-bottom-left-radius: 20px; /* Bordes redondeados */
    border-bottom-right-radius: 20px; /* Bordes redondeados */
    padding: 5px; /* Espacio interior alrededor del input y el botón */
    background-color: #fff; /* Fondo blanco */
    max-width: 500px; /* Ancho máximo del buscador */
    margin: auto; /* Centra el buscador */
  }

  .search-bar input {
    flex-grow: 1; /* Permite que el input se expanda para llenar el espacio */
    border: none; /* Elimina el borde */
    outline: none; /* Elimina el resalte al enfocar */
    padding: 10px 15px; /* Relleno dentro del input */
    border-radius: 25px 0 0 25px; /* Bordes redondeados solo en el lado izquierdo */
  }

  .search-bar button {
    padding: 10px 15px; /* Relleno dentro del botón */
    border: none; /* Elimina el borde */
    background-color: #fed009; /* Fondo amarillo dorado */
    color: white; /* Texto blanco */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima */
    border-radius: 20px 20px 20px 20px; /* Bordes redondeados solo en el lado derecho */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
  }

  .search-bar button:hover {
    background-color: #fcb800; /* Cambia el color de fondo al pasar el ratón por encima */
  }

  .filaheader2 {
    background-color: #081a24; /* Un color de fondo oscuro para la barra de navegación */
    padding: 10px 20px; /* Relleno para dar espacio alrededor de los enlaces */
  }

  .main-nav {
    display: flex;
    flex-wrap: wrap; /* Asegura que los elementos se envuelvan en pantallas pequeñas */
    justify-content: space-between; /* Distribuye los elementos uniformemente */
    align-items: center; /* Alinea los elementos verticalmente */
  }

  .main-nav a {
    color: #fff; /* Color de texto claro para contraste con el fondo oscuro */
    text-decoration: none; /* Elimina el subrayado por defecto */
    margin: 0 10px; /* Margen a los lados de los enlaces para darles espacio */
    padding: 5px 0; /* Relleno vertical para aumentar el área de clic */
    transition: color 0.3s ease; /* Transición suave del color al pasar el ratón por encima */
  }

  .main-nav a:hover {
    color: #fed009; /* Cambia el color al pasar el ratón por encima para un buen realce */
  }

  .main-nav .contact-number {
    color: #fed009; /* Color distintivo para el número de contacto */
    font-weight: bold; /* Hace que el número sea más prominente */
  }

  @media (max-width: 768px) {
    .main-nav {
      justify-content: center; /* Centra los enlaces en pantallas pequeñas */
    }

    .main-nav a:not(:last-child) {
      margin-bottom: 10px; /* Añade margen inferior a los enlaces para separarlos cuando están apilados */
    }
  }

  .featured-products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .featured-products .product {
    width: calc(
      50% - 20px
    ); /* Adjust width for 2 products per row with padding */
    margin: 10px;
    height: 150px;
    background-color: #eee;
  }

  .miheader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .izqheader {
    max-width: 20%;
    flex: 1; /* Ajusta según sea necesario */
    display: flex;
    justify-content: center; /* Centra horizontalmente el logo */
  }

  .derheader {
    max-width: 80%;
    flex: 2; /* Ajusta según sea necesario */
    display: flex;
    flex-direction: column; /* Organiza las filas verticalmente */
    justify-content: center;
  }

  .filaheader1 {
    display: grid;
    justify-content: flex-end;
    margin-bottom: 20px; /* Añade espacio entre las filas */
  }

  .logo {
    max-width: 100%; /* Asegura que el logo no sobrepase su contenedor */
    height: auto;
  }

  .sidebarcont {
    width: 100%;
    display: flex;
    flex-direction: column; /* Apila los elementos uno sobre otro */
  }

  .sidebar {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd; /* Borde inferior para dividir las secciones */
  }

  .sidebar ul {
    padding: 0;
    list-style-type: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el relleno predeterminado */
    margin: 0; /* Elimina los márgenes predeterminados */
  }

  .sidebar ul > li {
    color: #081a24; /* Establece el color del texto */
    background-color: #f7f7f7; /* Color de fondo para que el texto amarillo resalte */
    padding: 10px; /* Añade algo de relleno alrededor del texto */
    font-size: 1rem; /* Establece un tamaño de fuente estándar */
    font-weight: bold; /* Hace que el texto sea negrita */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera para un efecto elevado */
    transition: transform 0.3s ease; /* Transición suave para efecto de hover */
  }

  .sidebar ul > li:hover {
    transform: translateY(
      -3px
    ); /* Sutil efecto de elevación al pasar el ratón por encima */
    background-color: #081a24; /* Cambia el color de fondo al pasar el ratón por encima */
    color: #f7f7f7;
  }

  .banner {
    width: 100%; /* El banner ocupa el ancho completo del contenedor */
    height: auto; /* Altura fija del banner; ajusta según tus necesidades */
    background-image: url("./img/img1.png"); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido del banner */
    align-items: center; /* Centra verticalmente el contenido del banner */
    color: white; /* Color del texto */
    text-align: center; /* Alinea el texto al centro */
  }

  /* Media query para pantallas mayores a 600px */
  @media (min-width: 600px) {
    .sidebarcont {
      flex-direction: row; /* Lado a lado para pantallas más anchas */
    }

    .sidebar {
      border-right: 1px solid #ddd; /* Borde derecho para el sidebar */
      border-bottom: none; /* Elimina el borde inferior del sidebar */
      width: 20%;
    }
  }

  @media (max-width: 600px) {
    .top-bar,
    .search-bar,
    .main-content {
      flex-direction: column;
      background-color: #f7f7f7;
    }

    .main-content {
      margin: 0;
      width: 100%;
    }

    .featured-products .product {
      width: 100%; /* Full width on small screens */
    }

    .banner {
      flex-grow: 1;
      padding: 20px;
      height: 200px;
    }

    .miheader {
      background-color: #081a24;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan según sea necesario */
  }

  .left-side {
    flex-basis: 70%; /* Ocupa el 70% de la pantalla */
    display: flex;
    flex-direction: column; /* Organiza los hijos en columnas (filas) */
  }

  .filamaincont0 {
    flex: 1; /* Las filas se dividen el espacio igualmente */
    background-color: #f7f7f7; /* Color de fondo para diferenciar las filas */
    padding: 20px; /* Espacio dentro de cada fila */
  }

  .filamaincont {
    flex: 1; /* Las filas se dividen el espacio igualmente */
    background-color: #f7f7f7; /* Color de fondo para diferenciar las filas */
    border-bottom: 1px solid #ccc; /* Borde entre filas */
    display: flex;
    align-items: start; /* Centra el contenido verticalmente */
    justify-content: start; /* Centra el contenido horizontalmente */
    padding: 20px; /* Espacio dentro de cada fila */
  }

  /* Asegúrate de que el último elemento no tenga un borde en la parte inferior */
  .filamaincont:last-child {
    border-bottom: none;
  }

  .product-card {
    width: calc(
      50% - 20px
    ); /* Adjust width for 2 products per row with padding */
    margin: 10px;
    display: flex;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px; /* Espacio entre tarjetas de producto */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }

  .product-image {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
  }

  .product-image img {
    max-width: 100%;
    height: auto;
  }

  .product-info {
    padding: 20px;
    background-color: #f7f7f7; /* Color de fondo para diferenciar las filas */

    flex-grow: 1; /* Permite que el contenedor de información ocupe el espacio restante */
  }

  .product-title {
    margin: 0 0 10px 0;
    font-size: 1.2em;
  }

  .sku {
    margin: 0 0 10px 0;
    color: #555;
  }

  .product-description {
    margin: 0 0 20px 0;
  }

  .more-info {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
  }

  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    .product-card {
      width: 100%; /* Full width on small screens */
      flex-direction: column; /* Apila los elementos en pantallas pequeñas */
    }

    .product-image {
      border-right: none;
      border-bottom: 1px solid #ddd;
    }
  }

  .right-side {
    flex-basis: 30%; /* Ocupa el 30% restante de la pantalla */
    background-color: #f7f7f7; /* Color de fondo para diferenciar la sección */
    padding: 10px;
  }

  .right-side h3 {
    color: #333333;
    margin-bottom: 15px;
  }

  .right-side p,
  .right-side form,
  .right-side ul {
    margin-bottom: 15px;
  }

  .social-media a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #333333;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .social-media a:hover {
    color: #007bff;
  }

  .social-media .social-link i {
    margin-right: 8px;
  }

  .newsletter input[type="email"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .newsletter button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  .newsletter button:hover {
    background-color: #0056b3;
  }

  .featured-articles ul,
  .events-calendar ul {
    list-style-type: none;
    padding: 0;
  }

  .featured-articles li,
  .events-calendar li {
    margin-bottom: 5px;
  }

  .featured-articles a,
  .events-calendar li {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .featured-articles a:hover {
    color: #0056b3;
  }

  .events-calendar span {
    font-weight: bold;
  }

  .promotions p {
    color: #333;
    font-size: 1em;
  }

  /* Ajustes responsivos */
  @media (max-width: 768px) {
    .left-side,
    .right-side {
      flex-basis: 100%; /* Ambos elementos ocupan el ancho completo en pantallas pequeñas */
    }
  }

  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-content div {
    margin: -10px;
  }

  .map-container {
    width: 100%; /* El mapa ocupa el ancho total */
  }

  .map-container iframe {
    width: 100%; /* El iframe ocupa el ancho total del contenedor */
    height: 250px; /* Altura del mapa */
    border: none; /* Remueve el borde del iframe */
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  }

  .clock {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background: white url("./img/img1.png") no-repeat center;
    background-size: cover;
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* Compensa el espacio del borde */
  }

  .hand {
    background: black;
    height: 6px;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: transform 0.05s cubic-bezier(0.4, 2.3, 0.3, 1);
  }

  .hour-hand {
    width: 50%;
    right: 50%;
  }

  .min-hand {
    width: 75%;
    right: 50%;
  }

  .second-hand {
    width: 90%;
    right: 50%;
    background: red;
    height: 2px;
  }

  .round-button {
    background-color: orange; /* Color de fondo */
    border: none; /* Elimina el borde por defecto */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Relleno del botón */
    border-radius: 50%; /* Hace que el botón sea redondo */
    text-align: center; /* Alinea el texto al centro */
    text-decoration: none; /* Elimina la decoración del texto */
    display: inline-block; /* Hace que el botón sea un bloque en línea */
    font-size: 16px; /* Tamaño del texto */
    margin: 4px 2px; /* Margen alrededor del botón */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima */
    box-shadow: 0 5px #999; /* Sombra para el efecto de relieve */
    transition: all 0.3s ease; /* Transición suave para el efecto al hacer clic */
  }

  .round-button:hover {
    background-color: #e69500; /* Cambia el color de fondo al pasar el ratón por encima */
  }

  .round-button:active {
    box-shadow: 0 2px #666; /* Cambia la sombra para el efecto al hacer clic */
    transform: translateY(
      4px
    ); /* Mueve el botón hacia abajo al hacer clic */
  }